@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eli Vizel 2 <br />
    Reshon Letzion<br />
    <abbr title="Phone">P:</abbr>
    *5025
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@library@colman.ac.il</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@colman.ac.il</a>
</address>